body {
 background: Linen;
 font-family: monospace;
 font-size: 16px;
 padding-bottom: 50px;
}

h1 {
 font-family: Georgia;
}

.header {
  margin-bottom: 50px
}

#wrap {
  max-width:700px;
  margin: auto;
}
